@model TopLearn.DataLayer.Entities.User.User;
<div style="padding:20px ; direction:rtl">
    <h2>@Model.UserName</h2>
    <p>باتشکر از ثبت نام شما در تاپ لرن برای ادامه کار باید حساب کاربری خود را از طریق لینک زیر فعال کنید</p>
    <a href="https://localhost:44392/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب</a>
</div>
